/* Variables */

// Polices
$font-roboto: "Roboto", sans-serif;
$font-shrikhand: "Shrikhand", sans-serif;

// colors
$color-primary-violet: #9356dc;
$color-secondary-pink: #ff79da;
$color-turquoise-light: #99e2d0;
$color-blue-dark: #003a68;
$color-green: #008766;
$color-icon: #7e7e7e;
$color-light-black: #484848;

$color-button-choice: #f6f6f6;
$button-text-white: #fff;

// background
$bg-primary-white: #fff;
$bg-secondary-lightgrey: #f6f6f6;
$bg-lightDark: #353535;
