/* ANIMATION */

// Animation page loading
@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc, 0 0 3px #fff, 0 0 3px #47f3ba;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc, 0 0 3px #fff, 0 0 3px #47f3ba;
  }
}

@keyframes cook {
  0% {
    color: #484848;
    text-shadow: 0 0 7px #9356dc, 0 0 3px #ff79da, 0 0 3px #fff;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #484848;
    text-shadow: 0 0 7px #9356dc, 0 0 3px #ff79da, 0 0 3px #fff;
  }
}

@keyframes stop-loading {
  to {
    transform: scale(0) rotate(360deg);
  }
}

// Titles animation
@keyframes toRight {
  from {
    opacity: 0;
    color: #9356dc;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(10px);
  }
}
#title__animation {
  animation: toRight 600ms ease-in-out;
}

// Pages animation
.article {
  animation: apparition 800ms ease-in;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Hearts animation
.container__heart {
  input:checked ~ .heart-full {
    opacity: 1;
  }
  input:not(:checked) ~ .heart-empty {
    opacity: 1;
  }
  .fa-heart.heart-empty {
    opacity: 0;
  }
  .fa-heart.heart-full {
    opacity: 0;
    color: $color-primary-violet;
    background: linear-gradient(
      170deg,
      $color-primary-violet,
      $color-secondary-pink
    );
    /*La propriété background-clip définit la façon dont
    l'arrière-plan d'un élément (que ce soit l'image ou la couleur)
    s'étend sous la boîte de bordure, la boîte de remplissage (padding)
    ou la boîte de contenu.*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
