// menus

main {
  display: flex;
  flex-direction: column;
}

#arrow {
  @include absolute-El(50%, 100%, 100%, 5%, -50%, -50%);
  font-size: 2rem;
  color: #000;
}

#picture {
  height: 220px;

  img {
    @include image-fit(cover, center, 100%, 120%);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

#restaurant {
  padding: 2rem 2rem;
  border-radius: 4rem 4rem 0 0;
  background-color: #f6f6f6;
  &__name {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h2 {
      color: #101010;
      font-family: $font-shrikhand;
      font-weight: 400;
    }
  }
}

#restaurant .cards {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  h3 {
    font-size: 1.6rem;
    font-weight: lighter;
    margin-bottom: 3px;
  }

  .underline {
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
  }
}

#restaurant .cards .menu {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
}

.order-menu {
  text-align: center;
  padding: 3rem 0;
}

.order__btn {
  padding: 1.3rem 4.875rem;
}
